/*Genel Biçimlendirme*/
*{
    margin:0;
    padding:0;

    /*genişlik ve yüksekliğe border ve padding dahil*/
    box-sizing: border-box; 
}

body{
    font-family: "Raleway", serif;
    font-weight: 400;
}
.ayrac{
    margin: 19px auto;
    border-bottom: 1px solid #fff;
}

/*header bölümü*/
header{
    background-color: #005670;
    color:#fff;
    padding:30px 0;
    text-align: center;  
}

header ul{
    display: flex; /*içindeki nesneler esnek oldu*/
    list-style: none;
    justify-content: center;/*içeriği hizalama*/
}

#menu a{
    display: block;
    color:#fff;
    text-decoration: none;
    padding: 16px 10px 0px 10px;
}

#menu a:hover{
    background-color: rgb(219, 50, 50);
    color: aliceblue;
    transition: 1s;
}

/*main*/
main{
    margin: 20px;
    display: flex;
    gap:20px /* aralarına boşluk bırakma*/
    

}

main .content{
    background-color: #8db9ca;
    flex: 9;
    padding: 16px;
    border: 1px solid #333;
    border-radius: 3px; 
} 

main aside{
    flex: 3;
    background-color: #8db9ca;
    padding: 16px;
    border: 1px solid #333;
    border-radius: 3px;  
}
 section h2{
 margin-bottom: 10px;
}


aside ul{
    list-style: none;
}
aside a{
    color: #222;
    line-height: 150%;
    text-decoration: none;
}

/*footer bölümü*/

footer{
    background-color: #005670;
    color:#fff;
    padding:30px 0;
    text-align: center;
}